openapi: 3.2.0
info:
  title: Spyderbat Source Data API
  version: 1.0.0
  contact:
    name: API Support
    url: https://api.prod.spyderbat.com/openapi
    email: support@spyderbat.com
  license:
    name: MIT
    url: https://mit-license.org/
  termsOfService: https://www.spyderbat.com/terms-of-use/
  x-logo:
    url: /static/sb-logo.svg
    backgroundColor: '#161A21'
    altText: Spyderbat Logo
  description: 'Operations tagged SourceData across 2 of this provider''s published API definitions: spyderbat-openapi-original.json, spyderbat-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prod.spyderbat.com/
  description: Spyderbat API Server
security:
- apiToken: []
tags:
- name: SourceData
  description: '

    Each source may send data which is stored and processed by the system. So for example a machine will send data

    in a raw form which is then analyzed, both the raw machine data and the analyzed data is available for querying.

    '
paths:
  /api/v1/org/{orgUID}/source/{sourceUID}/data/{dataType}:
    post:
      tags:
      - SourceData
      summary: Send data to a source, this is expected to be gzip compressed nd-json. The 'Content-Encoding' header should be specified with a value of 'gzip'. Alternatively, a multi-part form upload may be used with gzipped data up to a maximum size of 1MB.
      description: Sends data to a source
      operationId: SrcSendData
      parameters:
      - name: dataType
        in: path
        required: true
        schema:
          type: string
          maxLength: 128
      - name: orgUID
        in: path
        required: true
        schema:
          type: string
      - name: sourceUID
        in: path
        required: true
        schema:
          type: string
          maxLength: 64
      requestBody:
        description: The data sent from the source
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                encoding:
                  type: string
                  description: must be gzip
                file:
                  type: string
                  description: The file to upload. The file must be a valid gzip-ed JSON file.
                  format: binary
              required:
              - file
              - encoding
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: permission denied
    servers:
    - url: https://api.prod.spyderbat.com/
      description: Spyderbat API Server
components:
  schemas:
    ValidationError:
      type: object
      properties:
        err_msg:
          type: string
          description: Message regarding the validation failure
        field:
          type: string
          description: Field name which failed validation
        property:
          type: string
          description: JSON property name of the field which failed validation
        tags:
          type: string
          description: Validation tag which failed
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- spyderbat-openapi-original.json
- spyderbat-openapi.json
