openapi: 3.2.0
info:
  title: Spyderbat Agent Registration API
  version: 1.0.0
  contact:
    name: API Support
    url: https://api.prod.spyderbat.com/openapi
    email: support@spyderbat.com
  license:
    name: MIT
    url: https://mit-license.org/
  termsOfService: https://www.spyderbat.com/terms-of-use/
  x-logo:
    url: /static/sb-logo.svg
    backgroundColor: '#161A21'
    altText: Spyderbat Logo
  description: 'Operations tagged Agent Registration across 2 of this provider''s published API definitions: spyderbat-openapi-original.json, spyderbat-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prod.spyderbat.com/
  description: Spyderbat API Server
security:
- apiToken: []
tags:
- name: Agent Registration
  description: "\nAgents registrations are used to authorize and group agents by the registration. \n"
paths:
  /api/v1/org/{orgUID}/agent_registration/:
    get:
      tags:
      - Agent Registration
      summary: List agent registrations
      description: '

        Lists the agent registrations associated with an organization


        * Requires the action  *agent_registration:List* on the organization


        '
      operationId: AgentRegistrationList
      parameters:
      - name: orgUID
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentRegistration'
        '403':
          description: permission denied
    post:
      tags:
      - Agent Registration
      summary: Create an agent registration
      description: '

        Creates a new agent registration


        * Requires the action  *agent_registration:Create* on the organization

        '
      operationId: AgentRegistrationCreate
      parameters:
      - name: orgUID
        in: path
        description: The OrgUID the registration is associated with
        required: true
        schema:
          type: string
          description: The OrgUID the registration is associated with
          maxLength: 32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRegistrationCreateInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAgentCreateHandlerOutput'
        '400':
          description: invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: permission denied
    servers:
    - url: https://api.prod.spyderbat.com/
      description: Spyderbat API Server
  /api/v1/org/{orgUID}/agent_registration/{uid}:
    get:
      tags:
      - Agent Registration
      summary: Load an agent registration
      description: '

        Load a specified agent registration


        * Requires the action  *agent_registration:Load* on the agent registration


        '
      operationId: AgentRegistrationLoad
      parameters:
      - name: orgUID
        in: path
        required: true
        schema:
          type: string
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistration'
        '403':
          description: permission denied
        '404':
          description: not found
    put:
      tags:
      - Agent Registration
      summary: Update an agent registration
      description: '

        Updates an existing registration


        * Requires the action  *agent_registration:Update* on the organization and the registration

        '
      operationId: AgentRegistrationUpdate
      parameters:
      - name: orgUID
        in: path
        description: The OrgUID the registration is associated with
        required: true
        schema:
          type: string
          description: The OrgUID the registration is associated with
          maxLength: 32
      - name: uid
        in: path
        description: Agent Registration UID
        required: true
        schema:
          type: string
          description: Agent Registration UID
          maxLength: 64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRegistrationUpdateInput'
      responses:
        '200':
          description: OK
        '400':
          description: invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: permission denied
    servers:
    - url: https://api.prod.spyderbat.com/
      description: Spyderbat API Server
  /api/v1/org/{orgUID}/agent_registration/{uid}/download_link:
    get:
      tags:
      - Agent Registration
      summary: Get a download link for this registration
      description: '

        Create a download link for the registration


        * Requires the action  *agent_registration:Load* on the agent registration


        '
      operationId: AgentRegistrationDownloadLink
      parameters:
      - name: orgUID
        in: path
        required: true
        schema:
          type: string
      - name: uid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAgentRegistrationDownloadLinkHandlerOutput'
        '400':
          description: bad request
        '403':
          description: permission denied
        '404':
          description: not found
    servers:
    - url: https://api.prod.spyderbat.com/
      description: Spyderbat API Server
  /api/v1/org/{orgUID}/agent_registration/{uid}/log:
    get:
      tags:
      - Agent Registration
      summary: Get log of recent agent registration activity
      description: '

        Get lots relating to recent agent registration activity


        * Requires the action  *agent_registration:ListLog* on the agent registration


        '
      operationId: AgentRegistrationGetLog
      parameters:
      - name: orgUID
        in: path
        required: true
        schema:
          type: string
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DaoAgentLog'
        '400':
          description: bad request
        '403':
          description: permission denied
        '404':
          description: not found
    servers:
    - url: https://api.prod.spyderbat.com/
      description: Spyderbat API Server
components:
  schemas:
    AgentRegistrationCreateInput:
      type: object
      properties:
        config:
          $ref: '#/components/schemas/DaoAgentConfig'
        created_by:
          type: string
          description: The user UID of the user who created the agent registration
        description:
          type: string
          description: Description of the agent registration
          maxLength: 512
        name:
          type: string
          description: Name of the agent registration
          maxLength: 64
        resource_name:
          type: string
          description: Resource name used for RBAC
        valid_from:
          type: string
          description: Valid from date, the first date this object was valid
          format: date-time
        valid_to:
          type: string
          description: Valid to date, the date this object is valid to
          format: date-time
    AgentRegistration:
      type: object
      properties:
        config:
          $ref: '#/components/schemas/DaoAgentConfig'
        created_by:
          type: string
          description: The user UID of the user who created the agent registration
        description:
          type: string
          description: Description of the agent registration
          maxLength: 512
        name:
          type: string
          description: Name of the agent registration
          maxLength: 64
        org_uid:
          type: string
          description: The OrgUID the registration is associated with
          maxLength: 32
        resource_name:
          type: string
          description: Resource name used for RBAC
        uid:
          type: string
          description: Agent Registration UID
          maxLength: 64
        valid_from:
          type: string
          description: Valid from date, the first date this object was valid
          format: date-time
        valid_to:
          type: string
          description: Valid to date, the date this object is valid to
          format: date-time
    ApiAgentCreateHandlerOutput:
      type: object
      properties:
        uid:
          type: string
    DaoAgentConfig:
      type: object
      properties:
        classes:
          type: array
          items:
            $ref: '#/components/schemas/DaoAgentClass'
          description: Agent classes
          maxItems: 10
          minItems: 1
        description:
          type: string
          description: Description of the agent config
          maxLength: 512
        name:
          type: string
          description: Name of the agent config
          maxLength: 32
        source_tags:
          type: array
          items:
            type: string
          description: Tags to be applied to a source upon agent registration
          maxItems: 10
        type:
          type: string
          description: Type of agent config
          maxLength: 20
      description: Initial configuration to use when creating an agent
      required:
      - classes
    DaoAgentLog:
      type: object
      properties:
        agent_registration_uid:
          type: string
        agent_uid:
          type: string
        bytes_sent:
          type: integer
          format: int32
        err_uid:
          type: string
        error:
          type: string
        ip_address:
          type: string
        msg:
          type: string
        org_uid:
          type: string
        runtime_details:
          $ref: '#/components/schemas/Orc_apiRuntimeDetails'
        source_uid:
          type: string
        time:
          type: number
          format: double
        type:
          type: string
    ApiAgentRegistrationDownloadLinkHandlerOutput:
      type: object
      properties:
        agent_registration_uid:
          type: string
        orc_host:
          type: string
        orc_url:
          type: string
        url:
          type: string
    ValidationError:
      type: object
      properties:
        err_msg:
          type: string
          description: Message regarding the validation failure
        field:
          type: string
          description: Field name which failed validation
        property:
          type: string
          description: JSON property name of the field which failed validation
        tags:
          type: string
          description: Validation tag which failed
    DaoAgentClass:
      type: object
      properties:
        name:
          type: string
          maxLength: 64
        rbac_roles:
          type: array
          items:
            type: string
          maxItems: 10
      required:
      - name
    AgentRegistrationUpdateInput:
      type: object
      properties:
        config:
          $ref: '#/components/schemas/DaoAgentConfig'
        created_by:
          type: string
          description: The user UID of the user who created the agent registration
        description:
          type: string
          description: Description of the agent registration
          maxLength: 512
        name:
          type: string
          description: Name of the agent registration
          maxLength: 64
        resource_name:
          type: string
          description: Resource name used for RBAC
        valid_from:
          type: string
          description: Valid from date, the first date this object was valid
          format: date-time
        valid_to:
          type: string
          description: Valid to date, the date this object is valid to
          format: date-time
    Orc_apiRuntimeDetails:
      type: object
      properties:
        agent_arch:
          type: string
        agent_registration_uid:
          type: string
        agent_status:
          type: string
        agent_type:
          type: integer
          format: int32
        agent_uid:
          type: string
        agent_version:
          type: string
        boot_time:
          type: number
          format: double
        cloud_account_id:
          type: string
        cloud_image_id:
          type: string
        cloud_instance_id:
          type: string
        cloud_region:
          type: string
        cloud_tags:
          type: array
          items:
            type: string
        cloud_type:
          type: string
        cpu_cores:
          type: integer
          format: int32
        cpu_make:
          type: string
        cpu_model:
          type: string
        error_msg:
          type: string
        hostname:
          type: string
        ip_addresses:
          type: array
          items:
            type: string
        live_test_ran:
          type: integer
          format: int32
        live_test_result:
          type: integer
          format: int32
        mac_addresses:
          type: array
          items:
            type: string
        memory_total_bytes:
          type: integer
          format: int64
        memory_total_gb:
          type: number
          format: double
        os_name:
          type: string
        os_pretty_name:
          type: string
        request_ip:
          type: string
        spyder_tags:
          type: object
          additionalProperties:
            type: string
        src_uid:
          type: string
        uname:
          type: string
      description: Runtime details
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- spyderbat-openapi-original.json
- spyderbat-openapi.json
