openapi: 3.2.0
info:
  title: Spyderbat API UI & Public RBAC API
  description: Restful APIs for use by UI & customers.
  termsOfService: https://www.spyderbat.com/terms-of-use/
  contact:
    name: API Support
    url: https://api.prod.spyderbat.com/openapi
    email: support@spyderbat.com
  license:
    name: MIT
    url: https://mit-license.org/
  version: 1.0.0
  x-logo:
    url: /static/sb-logo.svg
    backgroundColor: '#161A21'
    altText: Spyderbat Logo
servers:
- url: https://api.prod.spyderbat.com/
  description: Spyderbat API Server
security:
- apiToken: []
tags:
- name: RBAC
  description: '# Introduction


    This RBAC model is based off of Amazon''s model with some simplifications and generic assumptions


    A user has some number of roles on some number of organizations, each role defines some statements

    which determine determine if the user has access to some resources.'
paths:
  /api/v1/rbac/capabilities/:
    post:
      tags:
      - RBAC
      summary: Query allows actions on objects
      description: 'Allows for querying of what actions a user can perform; results may be cached for a short period of time.


        Each action names the resource it is queried against with a Spyderbat Resource Name (SRN) in

        ''resource_name''. An SRN has five colon-separated fields:


        srn::::


        A field left empty matches broadly for that dimension. To query an org-scoped action without

        targeting a specific org — for example a global "load expired orgs" check — use the org-less SRN

        ''srn:org:::'' rather than an empty string. A malformed ''resource_name'' cannot be evaluated and is

        rejected with a 400 rather than reported as a denied (''can_perform: false'') result.


        An unrecognized ''action'' does not fail the request: that entry is returned with ''can_perform'' false

        and an ''error'' set, so a caller probing a mix of actions still gets answers for the valid ones.'
      operationId: CanUserPerform
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CanUserPerformInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRBACActions'
        '400':
          description: A resource_name is not a valid Spyderbat Resource Name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
components:
  schemas:
    ApiRBACActions:
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/RBACAction'
          maxItems: 25
    RBACAction:
      type: object
      properties:
        action:
          type: string
          description: Action which meets the requirements of RBAC action naming
          maxLength: 32
        can_perform:
          type: boolean
          description: Return result of querying the users RBAC capabilities
        error:
          type: string
          description: Error returned from permission checking
        resource_name:
          type: string
          description: ResourceName which meets the requirements of RBAC resource naming
          maxLength: 128
    CanUserPerformInput:
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/RBACAction'
          maxItems: 25
    ValidationError:
      type: object
      properties:
        err_msg:
          type: string
          description: Message regarding the validation failure
        field:
          type: string
          description: Field name which failed validation
        property:
          type: string
          description: JSON property name of the field which failed validation
        tags:
          type: string
          description: Validation tag which failed
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
