openapi: 3.2.0
info:
  title: Spyderbat Suppress API
  version: 1.0.0
  contact:
    name: API Support
    url: https://api.prod.spyderbat.com/openapi
    email: support@spyderbat.com
  license:
    name: MIT
    url: https://mit-license.org/
  termsOfService: https://www.spyderbat.com/terms-of-use/
  x-logo:
    url: /static/sb-logo.svg
    backgroundColor: '#161A21'
    altText: Spyderbat Logo
  description: 'Operations tagged Suppress across 2 of this provider''s published API definitions: spyderbat-openapi-original.json, spyderbat-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prod.spyderbat.com/
  description: Spyderbat API Server
security:
- apiToken: []
tags:
- name: Suppress
  description: '

    An API that provides direct access to Spyderbat''s tuning features.'
paths:
  /api/v1/org/{orgUID}/suppress/trace:
    post:
      tags:
      - Suppress
      summary: Suppress a trace signature.
      description: "\nThis will suppress a trace signature for an org\n* Requires the actions  *org:SuppressTrace, org:CreateAnalyticsPolicy, org:UpdateAnalyticsPolicy* on the organization\n\t\t"
      operationId: SuppressTrace
      parameters:
      - name: orgUID
        in: path
        description: Organization UID to query
        required: true
        schema:
          type: string
          description: Organization UID to query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuppressTraceInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSuppressTraceOutput'
        '400':
          description: invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: permission denied
    servers:
    - url: https://api.prod.spyderbat.com/
      description: Spyderbat API Server
components:
  schemas:
    DaoNamespaceSelectorV2:
      type: object
      properties:
        matchExpressions:
          type: array
          items:
            $ref: '#/components/schemas/DaoExpression'
        matchLabels:
          type: object
          additionalProperties:
            type: string
    DaoTraceSelectorV2:
      type: object
      properties:
        matchFields:
          type: object
          additionalProperties:
            type: string
        matchFieldsExpressions:
          type: array
          items:
            $ref: '#/components/schemas/DaoExpression'
        triggerAncestors:
          type: array
          items:
            type: string
        triggerClass:
          type: array
          items:
            type: string
    DaoOutputAnalyticsPolicy:
      type: object
      properties:
        created_by:
          type: string
          description: Resource name of the user who created this object
        last_updated:
          type: string
          description: Last updated date
          format: date-time
        last_updated_by:
          type: string
          description: Resource name of the user who last updated this object
        name:
          type: string
          description: Name of the analytics policy
          maxLength: 64
          minLength: 3
        orgid:
          type: string
          description: Org UID
          maxLength: 64
        policy:
          $ref: '#/components/schemas/DaoPolicyObject'
        selector_hash:
          type: string
          description: MD5 Hash of the policy's selectors
        tags:
          type: array
          items:
            type: string
          description: User supplied tags
          maxItems: 20
        type:
          type: string
          description: type
          maxLength: 64
        uid:
          type: string
          description: Analytics Policy UID
          maxLength: 64
        valid_from:
          type: string
          description: Valid from date, the first date this object was valid
          format: date-time
        valid_to:
          type: string
          description: Valid to date, the date this object is valid to
          format: date-time
        version:
          type: integer
          description: Version of the object
          format: int32
      required:
      - name
      - type
    DaoPolicyObject:
      type: object
      properties:
        apiVersion:
          type: string
          description: API Version
        kind:
          type: string
          description: Kind
        metadata:
          type: object
          additionalProperties: {}
          description: Metadata
        spec:
          type: object
          additionalProperties: {}
          description: Spec
      description: Policy
      required:
      - apiVersion
      - kind
      - metadata
      - spec
    SuppressTraceInput:
      type: object
      properties:
        ignore_warnings:
          type: boolean
          description: If true, the suppression policy will be created even if there are warnings. If false, the suppression policy will not be created if there are warnings and a preview will be returned.
        name:
          type: string
          description: Name of the suppression policy (overrides the auto-generated name)
          maxLength: 128
        preview:
          type: boolean
          description: If true, the traces within scope will not be suppressed. Instead, the Trace Suppression Policy will be returned. If there are any warnings, this API will return a preview and list of warnings.
        scope_by_cluster:
          type: boolean
          description: If true, the suppression policy will be scoped by the cluster the trace is a part of (if applicable). Will generate a warning if the trace is not part of a cluster.
        scope_by_container:
          type: boolean
          description: If true, the suppression policy will be scoped by the container the trace is a part of (if applicable). Will generate a warning if the trace is not part of a container.
        scope_by_linux_service:
          type: boolean
          description: If true, the suppression policy will be scoped by the Linux service the trace is a part of (if applicable). Will generate a warning if the trace is not part of a Linux service.
        scope_by_machine:
          type: boolean
          description: If true, the suppression policy will be scoped by the machine the trace is a part of.
        scope_by_namespace:
          type: boolean
          description: If true, the suppression policy will be scoped by the namespace the trace is a part of (if applicable). Will generate a warning if the trace is not part of a namespace.
        scope_by_user:
          type: boolean
          description: If true, the suppression policy will be scoped by the user who triggered the trace
        trace_uid:
          type: string
          description: The UID of the trace signature to suppress. Does not suppress the trace itself, but all traces that match the signature going forward.
      required:
      - trace_uid
    SessionSuppressTraceOutput:
      type: object
      properties:
        applied_policy:
          $ref: '#/components/schemas/DaoOutputAnalyticsPolicy'
        matching_policy_exists:
          type: boolean
          description: Indicates if a suppression policy already exists for the trace signature
        policy_preview:
          $ref: '#/components/schemas/DaoTraceSuppressionPolicy'
        update_performed:
          type: boolean
          description: Indicates if an existing suppression policy was updated instead of a new one being created
        warnings:
          type: array
          items:
            type: string
    DaoTraceSuppressionPolicy:
      type: object
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          $ref: '#/components/schemas/DaoTraceSuppressionMetadata'
        spec:
          $ref: '#/components/schemas/DaoTraceSuppressionSpec'
      required:
      - apiVersion
      - kind
      - metadata
      - spec
    DaoAllowedFlagRule:
      type: object
      properties:
        class:
          type: string
        display_name:
          type: string
        display_severity:
          type: string
    DaoUserSelectorV2:
      type: object
      properties:
        matchFields:
          type: object
          additionalProperties:
            type: string
        matchFieldsExpressions:
          type: array
          items:
            $ref: '#/components/schemas/DaoExpression'
        user:
          type: array
          items:
            type: string
    DaoTraceSuppressionMetadata:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        uid:
          type: string
      required:
      - name
      - type
    DaoMachineSelectorV2:
      type: object
      properties:
        hostname:
          type: array
          items:
            type: string
        machineUID:
          type: array
          items:
            type: string
        matchFields:
          type: object
          additionalProperties:
            type: string
        matchFieldsExpressions:
          type: array
          items:
            $ref: '#/components/schemas/DaoExpression'
    DaoExpression:
      type: object
      properties:
        key:
          type: string
        operator:
          type: string
        values:
          type: array
          items:
            type: string
    ValidationError:
      type: object
      properties:
        err_msg:
          type: string
          description: Message regarding the validation failure
        field:
          type: string
          description: Field name which failed validation
        property:
          type: string
          description: JSON property name of the field which failed validation
        tags:
          type: string
          description: Validation tag which failed
    DaoLinuxServiceSelectorV2:
      type: object
      properties:
        cgroup:
          type: string
        matchFields:
          type: object
          additionalProperties:
            type: string
        matchFieldsExpressions:
          type: array
          items:
            $ref: '#/components/schemas/DaoExpression'
    DaoContainerSelectorV2:
      type: object
      properties:
        containerID:
          type: array
          items:
            type: string
        containerName:
          type: array
          items:
            type: string
        image:
          type: array
          items:
            type: string
        imageID:
          type: array
          items:
            type: string
        matchFields:
          type: object
          additionalProperties:
            type: string
        matchFieldsExpressions:
          type: array
          items:
            $ref: '#/components/schemas/DaoExpression'
    DaoClusterSelectorV2:
      type: object
      properties:
        matchFields:
          type: object
          additionalProperties:
            type: string
        matchFieldsExpressions:
          type: array
          items:
            $ref: '#/components/schemas/DaoExpression'
    DaoTraceSuppressionSpec:
      type: object
      properties:
        allowedFlags:
          type: array
          items:
            $ref: '#/components/schemas/DaoAllowedFlagRule'
        clusterSelector:
          $ref: '#/components/schemas/DaoClusterSelectorV2'
        containerSelector:
          $ref: '#/components/schemas/DaoContainerSelectorV2'
        enabled:
          type: boolean
        machineSelector:
          $ref: '#/components/schemas/DaoMachineSelectorV2'
        mode:
          type: string
        namespaceSelector:
          $ref: '#/components/schemas/DaoNamespaceSelectorV2'
        serviceSelector:
          $ref: '#/components/schemas/DaoLinuxServiceSelectorV2'
        traceSelector:
          $ref: '#/components/schemas/DaoTraceSelectorV2'
        userSelector:
          $ref: '#/components/schemas/DaoUserSelectorV2'
      required:
      - allowedFlags
      - enabled
      - mode
      - traceSelector
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- spyderbat-openapi-original.json
- spyderbat-openapi.json
