openapi: 3.2.0
info:
  title: Spyderbat API UI & Public Agent Work API
  description: Restful APIs for use by UI & customers.
  termsOfService: https://www.spyderbat.com/terms-of-use/
  contact:
    name: API Support
    url: https://api.prod.spyderbat.com/openapi
    email: support@spyderbat.com
  license:
    name: MIT
    url: https://mit-license.org/
  version: 1.0.0
  x-logo:
    url: /static/sb-logo.svg
    backgroundColor: '#161A21'
    altText: Spyderbat Logo
servers:
- url: https://api.prod.spyderbat.com/
  description: Spyderbat API Server
security:
- apiToken: []
tags:
- name: AgentWork
  description: 'AgentWork API is intended for use by the UI to convey work & configuration to agents, this data can be specific to an agent or gloal to an organization.


    An example use case is configuration data for a specific bat. The agents then overlay the global work data atop, the organizationan work (if defined), atop the specific agent work.'
paths:
  /api/v1/org/{orgUID}/agent/{agentUID}/work:
    get:
      tags:
      - AgentWork
      summary: Get agent work data for a specific agent
      description: 'Get the work data for a specified agent.


        * Requires *agent_data:GetAgentData*'
      operationId: AgentGetAgentWork
      parameters:
      - name: agentUID
        in: path
        description: Agent UID
        required: true
        schema:
          type: string
          description: Agent UID
      - name: orgUID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAgentWorkOutput'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    post:
      tags:
      - AgentWork
      summary: Set agent work data for a specific agent
      description: 'Set the work data for a specified agent.


        * Requires *agent_data:Set*'
      operationId: AgentSetAgentWork
      parameters:
      - name: agentUID
        in: path
        description: Agent UID
        required: true
        schema:
          type: string
          description: Agent UID
      - name: orgUID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentSetAgentWorkInput'
      responses:
        '200':
          description: OK
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      tags:
      - AgentWork
      summary: Delete agent work data for a specific agent
      description: 'Delet the work data for a specified agent.


        * Requires *agent_data:Delete*'
      operationId: AgentDeleteAgentWork
      parameters:
      - name: agentUID
        in: path
        description: Agent UID
        required: true
        schema:
          type: string
          description: Agent UID
      - name: orgUID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/org/{orgUID}/agent_work:
    get:
      tags:
      - AgentWork
      summary: Get agent work data for the organization
      description: 'Get the work data for all agents associated with the organization.


        * Requires *agent_data:GetOrgData*'
      operationId: AgentGetOrgWork
      parameters:
      - name: orgUID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAgentWorkOutput'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    post:
      tags:
      - AgentWork
      summary: Set agent work data for a specific agent
      description: 'Set the work data for a specified agent.


        * Requires *agent_data:SetData*'
      operationId: AgentSetOrgWork
      parameters:
      - name: orgUID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentSetOrgWorkInput'
      responses:
        '200':
          description: OK
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      tags:
      - AgentWork
      summary: Delete agent work for an org
      description: 'Delete the work data for all agents for an organization.


        * Requires *agent_data:Delete*'
      operationId: AgentDeleteOrgWork
      parameters:
      - name: orgUID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
components:
  schemas:
    AgentSetOrgWorkInput:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
          description: User defined tags
        work:
          $ref: '#/components/schemas/Orc_apiAgentWork'
    ApiAgentWorkOutput:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
          description: User defined tags
        work:
          $ref: '#/components/schemas/Orc_apiAgentWork'
    Orc_apiAgentWork:
      type: object
      properties:
        work:
          type: array
          items:
            $ref: '#/components/schemas/Orc_apiBatWork'
          description: Array of bats to execute
          maxItems: 32
      description: Agent work, which is sent to the agents
    Orc_apiBatWork:
      type: object
      properties:
        arguments:
          type: array
          items:
            type: string
          description: arguments to pass to the commandline
          maxItems: 64
        bat_uid:
          type: string
          description: ID of this specific type of bat, specified by Spyderbat
          maxLength: 32
        enabled:
          type: boolean
          description: Execute this bat or not?
        parameters:
          type: object
          additionalProperties: {}
          description: input parameters to the bat
        start_order:
          type: integer
          description: Order in which to start this bat
          format: int32
        uid:
          type: string
          description: uid of the specific bat work for a specific agent
          maxLength: 32
        version:
          type: object
          additionalProperties: {}
          description: Newest version of the bat from the repository
    ValidationError:
      type: object
      properties:
        err_msg:
          type: string
          description: Message regarding the validation failure
        field:
          type: string
          description: Field name which failed validation
        property:
          type: string
          description: JSON property name of the field which failed validation
        tags:
          type: string
          description: Validation tag which failed
    AgentSetAgentWorkInput:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
          description: User defined tags
        work:
          $ref: '#/components/schemas/Orc_apiAgentWork'
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
