{"openapi":"3.0.1","info":{"title":"Spyderbat API UI \u0026 Public APIs","description":"Restful APIs for use by UI \u0026 customers.","termsOfService":"https://www.spyderbat.com/terms-of-use/","contact":{"name":"API Support","url":"https://api.prod.spyderbat.com/openapi","email":"support@spyderbat.com"},"license":{"name":"MIT","url":"https://mit-license.org/"},"version":"1.0.0","x-logo":{"url":"/static/sb-logo.svg","backgroundColor":"#161A21","altText":"Spyderbat Logo"}},"servers":[{"url":"https://api.prod.spyderbat.com/","description":"Spyderbat API Server"}],"paths":{"/api/v1/agent_action/enqueue/{agentUID}":{"post":{"tags":["Agent Action"],"summary":"Enqueue an agent action","description":"\n\tEnqueue an agent action. The action will be executed by the agent at the next opportunity.\n\n\t * Requires action agent_action:Enqueue","operationId":"AgentActionEnqueue","parameters":[{"name":"agentUID","in":"path","description":"Agent UID","required":true,"schema":{"type":"string","description":"Agent UID","maxLength":20}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentActionEnqueueInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/cases/constants":{"get":{"tags":["Cases"],"summary":"Get case enumeration constants","description":"Returns all known enumerations used by the Cases API: agent IDs, states, priorities, sub-statuses, note schemas, and analysis levels.","operationId":"CaseConstants","responses":{"200":{"description":"OK"}}}},"/api/v1/integration/soar/org/{orgUID}/source/":{"get":{"tags":["Source"],"summary":"List sources for integration with SOARs","description":"\nLists the sources of data that match the specified query parameters, and return \nURL entry points into the UI for matching sources. \n\n* Requires the action  *org:ListSources* on the organization\n","operationId":"IntegrationSoarSrcList","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"et","in":"query","description":"optional end time of the query","schema":{"type":"integer","description":"optional end time of the query","format":"int64"}},{"name":"hostname","in":"query","description":"A single hostname to match","schema":{"type":"string","description":"A single hostname to match","maxLength":128}},{"name":"ip_address","in":"query","description":"A single IP address to match","schema":{"type":"string","description":"A single IP address to match","maxLength":128}},{"name":"mac_address","in":"query","description":"A single mac address to match","schema":{"type":"string","description":"A single mac address to match","maxLength":128}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","schema":{"type":"integer","format":"int32","maximum":100}},{"name":"st","in":"query","description":"optional start time of the query, if only a start time is provided, end time will be start+10m","schema":{"type":"integer","description":"optional start time of the query, if only a start time is provided, end time will be start+10m","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiSOARListHandlerOutput"}}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/":{"get":{"tags":["Org"],"summary":"List organizations","description":"\nLists organizations\n\n * Will list organizations which the user has the action *org:Load* or *org:LoadExpired* on\n","operationId":"OrgList","parameters":[{"name":"cases_enabled","in":"query","allowEmptyValue":true,"schema":{"type":"boolean"}},{"name":"has_resource_policy","in":"query","allowEmptyValue":true,"schema":{"type":"boolean"}},{"name":"has_tags","in":"query","schema":{"type":"array","items":{"type":"string"},"maxItems":30},"style":"form","explode":true},{"name":"include_expired","in":"query","allowEmptyValue":true,"schema":{"type":"boolean"}},{"name":"name_contains","in":"query","schema":{"type":"string","maxLength":32}},{"name":"owner_uid_equals","in":"query","schema":{"type":"string","maxLength":64}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","schema":{"type":"integer","format":"int32","maximum":100,"minimum":10}},{"name":"uid_equals","in":"query","schema":{"type":"string","maxLength":64}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Org"}}}}},"400":{"description":"invalid query parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}":{"get":{"tags":["Org"],"summary":"Load an organization","description":"\nLoads an organization by UID. \n\n * Requires action *org:Load*\n * Requires action *org:LoadExpired* to load expired organizations\n\n","operationId":"OrgLoad","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Org"}}}},"403":{"description":"permission denied"}}},"put":{"tags":["Org"],"summary":"Update an organization","description":"\nUpdates the organization \n\n * Requires the user have the action *org:Update* on the organization\n","operationId":"OrgUpdate","parameters":[{"name":"orgUID","in":"path","description":"Org UID","required":true,"schema":{"type":"string","description":"Org UID","maxLength":64}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgUpdateInput"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/agent/":{"get":{"tags":["Agent"],"summary":"List agents","description":"\nLists the agents associated with an organization\n\n* Requires the action  *agent:List* on the organization\n\n","operationId":"AgentList","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"agent_registration_uid_equals","in":"query","schema":{"type":"string","maxLength":64}},{"name":"is_archived","in":"query","allowEmptyValue":true,"schema":{"type":"boolean"}},{"name":"is_not_archived","in":"query","allowEmptyValue":true,"schema":{"type":"boolean"}},{"name":"original_association","in":"query","allowEmptyValue":true,"schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","schema":{"type":"integer","format":"int32","maximum":100}},{"name":"source_uid_equals","in":"query","schema":{"type":"string","maxLength":64}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Agent"}}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/agent/{agentUID}":{"get":{"tags":["Agent"],"summary":"Load an agent","description":"\nLoad a specified agent\n\n* Requires the action  *agent:Load* on the organization\n\n","operationId":"AgentLoad","parameters":[{"name":"agentUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agent"}}}},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/agent/{agentUID}/archive":{"put":{"tags":["Agent"],"summary":"Archive (hide) an agent","description":"\nArchive a specified agent. This marks that an agent and any associated sources should be hidden in the UI.\n\n* Requires the action  *agent:Archive* on the organization\n\n","operationId":"AgentArchive","parameters":[{"name":"agentUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/agent/{agentUID}/unarchive":{"put":{"tags":["Agent"],"summary":"Unarchive (show) an agent","description":"\nUnarchive a specified agent. This marks that an agent and any associated sources should be shown in the UI.\n\n* Requires the action  *agent:Unarchive* on the organization\n\n","operationId":"AgentUnarchive","parameters":[{"name":"agentUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/agent/{agentUID}/work":{"get":{"tags":["AgentWork"],"summary":"Get agent work data for a specific agent","description":"\nGet the work data for a specified agent.\n\n * Requires *agent_data:GetAgentData*\n","operationId":"AgentGetAgentWork","parameters":[{"name":"agentUID","in":"path","description":"Agent UID","required":true,"schema":{"type":"string","description":"Agent UID"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiAgentWorkOutput"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}}}},"post":{"tags":["AgentWork"],"summary":"Set agent work data for a specific agent","description":"\nSet the work data for a specified agent.\n\n * Requires *agent_data:Set* \n","operationId":"AgentSetAgentWork","parameters":[{"name":"agentUID","in":"path","description":"Agent UID","required":true,"schema":{"type":"string","description":"Agent UID"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentSetAgentWorkInput"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}}}},"delete":{"tags":["AgentWork"],"summary":"Delete agent work data for a specific agent","description":"\nDelet the work data for a specified agent.\n\n * Requires *agent_data:Delete* \n","operationId":"AgentDeleteAgentWork","parameters":[{"name":"agentUID","in":"path","description":"Agent UID","required":true,"schema":{"type":"string","description":"Agent UID"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}}}}},"/api/v1/org/{orgUID}/agent_action_status":{"get":{"tags":["Agent Action"],"summary":"List agent actions.","description":"\nThis will list agent action statuses.\n* Requires the action *agent:ListActionStatus* on the organization\n\t\t\t","operationId":"AgentActionStatusList","parameters":[{"name":"orgUID","in":"path","description":"Organization UID","required":true,"schema":{"type":"string","description":"Organization UID"}},{"name":"action_taken_by","in":"query","description":"Filter actions by the principal that created the action or the agent that executed the action","schema":{"type":"string","description":"Filter actions by the principal that created the action or the agent that executed the action"}},{"name":"action_type_equals","in":"query","description":"Return actions with a type equal to this value.","schema":{"type":"string","description":"Return actions with a type equal to this value."}},{"name":"action_uid_equals","in":"query","description":"The auto-generated uid for the action","schema":{"type":"string","description":"The auto-generated uid for the action"}},{"name":"agent_uid_equals","in":"query","description":"Return actions for this agent","schema":{"type":"string","description":"Return actions for this agent"}},{"name":"analytic_uid_equals","in":"query","description":"Analytic UID -- the uid that starts with 'action:'","schema":{"type":"string","description":"Analytic UID -- the uid that starts with 'action:'"}},{"name":"object_uid_equals","in":"query","description":"Filter actions by one or more object UIDs","schema":{"type":"array","items":{"type":"string"},"description":"Filter actions by one or more object UIDs"},"style":"form","explode":true},{"name":"page","in":"query","description":"Page number to return","schema":{"type":"integer","description":"Page number to return","format":"int32","minimum":1}},{"name":"page_size","in":"query","description":"Number of results to return (10 by default). If you specify -1, all results are returned","schema":{"type":"integer","description":"Number of results to return (10 by default). If you specify -1, all results are returned","format":"int32","maximum":100}},{"name":"reason_contains","in":"query","description":"Filter actions by the reason","schema":{"type":"string","description":"Filter actions by the reason"}},{"name":"reason_equals","in":"query","description":"Filter actions by the reason","schema":{"type":"string","description":"Filter actions by the reason"}},{"name":"result_code_equals","in":"query","description":"Return actions with a result code equal to this value","schema":{"type":"integer","description":"Return actions with a result code equal to this value","format":"int32"}},{"name":"result_code_not_equals","in":"query","description":"Return actions with a result code not equal to this value","schema":{"type":"integer","description":"Return actions with a result code not equal to this value","format":"int32"}},{"name":"reversed","in":"query","description":"Sort in descending order","allowEmptyValue":true,"schema":{"type":"boolean","description":"Sort in descending order"}},{"name":"sort_by","in":"query","description":"Sort by field. Valid values are 'state', 'resultcode', 'completed', 'validfrom', and 'validto'","schema":{"type":"string","description":"Sort by field. Valid values are 'state', 'resultcode', 'completed', 'validfrom', and 'validto'"}},{"name":"state_equals","in":"query","description":"Return actions with a state equal to this value. Valid values are 'queued', 'delivered', 'expired', and 'completed'","schema":{"type":"string","description":"Return actions with a state equal to this value. Valid values are 'queued', 'delivered', 'expired', and 'completed'"}},{"name":"state_not_equals","in":"query","description":"Return actions with a state not equal to this value. Valid values are 'queued', 'delivered', 'expired', and 'completed'","schema":{"type":"string","description":"Return actions with a state not equal to this value. Valid values are 'queued', 'delivered', 'expired', and 'completed'"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionListActionStatusOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/agent_action_status/{actionUID}":{"get":{"tags":["Agent Action"],"summary":"Load agent action.","description":"\nThis will load an agent action status.\n* Requires the action *agent:LoadActionStatus* on the organization\n\t\t\t","operationId":"AgentActionStatusLoad","parameters":[{"name":"actionUID","in":"path","description":"The uid of the action record","required":true,"schema":{"type":"string","description":"The uid of the action record"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionLoadActionStatusOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"},"404":{"description":"agent action not found"}}}},"/api/v1/org/{orgUID}/agent_health_notification_settings/":{"get":{"tags":["NotificationsAgentHealth"],"summary":"List agent health notification settings.","operationId":"AgentHealthNotificationSettingsList","parameters":[{"name":"orgUID","in":"path","description":"Filter by the organization UID.","required":true,"schema":{"type":"string","description":"Filter by the organization UID."}},{"name":"action_taken_equals","in":"query","description":"Filter by the action taken on the flag(s). Pulls from the history database table. One of [insert|update|delete|enable|disable]","schema":{"type":"string","description":"Filter by the action taken on the flag(s). Pulls from the history database table. One of [insert|update|delete|enable|disable]"}},{"name":"from_history","in":"query","description":"Retrieves historical custom flags data. Pulls from the history database table","allowEmptyValue":true,"schema":{"type":"boolean","description":"Retrieves historical custom flags data. Pulls from the history database table"}},{"name":"latest_version","in":"query","description":"Filter by the latest version of the flag. Pulls from the history database table","allowEmptyValue":true,"schema":{"type":"boolean","description":"Filter by the latest version of the flag. Pulls from the history database table"}},{"name":"name_contains","in":"query","description":"Filter by the name.","schema":{"type":"string","description":"Filter by the name."}},{"name":"name_equals","in":"query","description":"Filter by the name.","schema":{"type":"string","description":"Filter by the name."}},{"name":"name_or_uid_contains","in":"query","description":"Filter by the name or UID.","schema":{"type":"string","description":"Filter by the name or UID."}},{"name":"name_or_uid_equals","in":"query","description":"Filter by the name or UID.","schema":{"type":"string","description":"Filter by the name or UID."}},{"name":"page","in":"query","description":"Page number to return.","schema":{"type":"integer","description":"Page number to return.","format":"int32"}},{"name":"page_size","in":"query","description":"Number of notification settings to return per page.","schema":{"type":"integer","description":"Number of notification settings to return per page.","format":"int32"}},{"name":"scope_query_contains","in":"query","description":"Filter by the scope query.","schema":{"type":"string","description":"Filter by the scope query."}},{"name":"scope_query_equals","in":"query","description":"Filter by the scope query.","schema":{"type":"string","description":"Filter by the scope query."}},{"name":"uid_equals","in":"query","description":"Filter by the notification settings UID.","schema":{"type":"string","description":"Filter by the notification settings UID."}},{"name":"version","in":"query","description":"Filter by the flag version. Pulls from the history database table","schema":{"type":"integer","description":"Filter by the flag version. Pulls from the history database table","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionAgentHealthNotificationListOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}},"post":{"tags":["NotificationsAgentHealth"],"summary":"Create an agent health notification.","operationId":"AgentHealthNotificationSettingsCreate","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentHealthNotificationSettingsCreateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionAgentHealthNotificationCreateOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/agent_health_notification_settings/{ahnUID}":{"get":{"tags":["NotificationsAgentHealth"],"summary":"Get agent health notification settings.","operationId":"AgentHealthNotificationSettingsGet","parameters":[{"name":"ahnUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionAgentHealthNotificationLoadOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"put":{"tags":["NotificationsAgentHealth"],"summary":"Update agent health notification settings.","operationId":"AgentHealthNotificationSettingsUpdate","parameters":[{"name":"ahnUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentHealthNotificationSettingsUpdateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionAgentHealthNotificationUpdateOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"delete":{"tags":["NotificationsAgentHealth"],"summary":"Delete agent health notification settings.","operationId":"AgentHealthNotificationSettingsDelete","parameters":[{"name":"ahnUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/agent_registration/":{"get":{"tags":["Agent Registration"],"summary":"List agent registrations","description":"\nLists the agent registrations associated with an organization\n\n* Requires the action  *agent_registration:List* on the organization\n\n","operationId":"AgentRegistrationList","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","schema":{"type":"integer","format":"int32","maximum":100}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AgentRegistration"}}}}},"403":{"description":"permission denied"}}},"post":{"tags":["Agent Registration"],"summary":"Create an agent registration","description":"\nCreates a new agent registration\n\n* Requires the action  *agent_registration:Create* on the organization\n","operationId":"AgentRegistrationCreate","parameters":[{"name":"orgUID","in":"path","description":"The OrgUID the registration is associated with","required":true,"schema":{"type":"string","description":"The OrgUID the registration is associated with","maxLength":32}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentRegistrationCreateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiAgentCreateHandlerOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/agent_registration/{uid}":{"get":{"tags":["Agent Registration"],"summary":"Load an agent registration","description":"\nLoad a specified agent registration\n\n* Requires the action  *agent_registration:Load* on the agent registration\n\n","operationId":"AgentRegistrationLoad","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentRegistration"}}}},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"put":{"tags":["Agent Registration"],"summary":"Update an agent registration","description":"\nUpdates an existing registration\n\n* Requires the action  *agent_registration:Update* on the organization and the registration\n","operationId":"AgentRegistrationUpdate","parameters":[{"name":"orgUID","in":"path","description":"The OrgUID the registration is associated with","required":true,"schema":{"type":"string","description":"The OrgUID the registration is associated with","maxLength":32}},{"name":"uid","in":"path","description":"Agent Registration UID","required":true,"schema":{"type":"string","description":"Agent Registration UID","maxLength":64}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentRegistrationUpdateInput"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/agent_registration/{uid}/download_link":{"get":{"tags":["Agent Registration"],"summary":"Get a download link for this registration","description":"\nCreate a download link for the registration\n\n* Requires the action  *agent_registration:Load* on the agent registration\n\n","operationId":"AgentRegistrationDownloadLink","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiAgentRegistrationDownloadLinkHandlerOutput"}}}},"400":{"description":"bad request"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/agent_registration/{uid}/log":{"get":{"tags":["Agent Registration"],"summary":"Get log of recent agent registration activity","description":"\nGet lots relating to recent agent registration activity\n\n* Requires the action  *agent_registration:ListLog* on the agent registration\n\n","operationId":"AgentRegistrationGetLog","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"uid","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","schema":{"type":"integer","format":"int32","maximum":100}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DaoAgentLog"}}}}},"400":{"description":"bad request"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/agent_work":{"get":{"tags":["AgentWork"],"summary":"Get agent work data for the organization","description":"\nGet the work data for all agents associated with the organization.\n\n * Requires *agent_data:GetOrgData*\n","operationId":"AgentGetOrgWork","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiAgentWorkOutput"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}}}},"post":{"tags":["AgentWork"],"summary":"Set agent work data for a specific agent","description":"\nSet the work data for a specified agent.\n\n * Requires *agent_data:SetData*\n","operationId":"AgentSetOrgWork","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentSetOrgWorkInput"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}}}},"delete":{"tags":["AgentWork"],"summary":"Delete agent work for an org","description":"\nDelete the work data for all agents for an organization.\n\n * Requires *agent_data:Delete* \n","operationId":"AgentDeleteOrgWork","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}}}}},"/api/v1/org/{orgUID}/agents/{agentID}/flags":{"get":{"tags":["Cases"],"summary":"List flagged AI analyses for an agent","description":"List flagged AI analyses attributed to the specified AI agent within an optional time window.\nagentID must be 'ai-level-1' or 'ai-level-2'.\nstart and end are optional epoch seconds; results are ordered by flaggedAt descending.\n\n* Requires action case:List","operationId":"CaseAgentFlags","parameters":[{"name":"agentID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Window end — epoch seconds","schema":{"type":"number","description":"Window end — epoch seconds","format":"double","nullable":true}},{"name":"start","in":"query","description":"Window start — epoch seconds","schema":{"type":"number","description":"Window start — epoch seconds","format":"double","nullable":true}}],"responses":{"200":{"description":"OK"},"400":{"description":"invalid agent ID"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/analyticspolicy/":{"get":{"tags":["AnalyticsPolicy"],"summary":"List analytics policies","description":"\nThis will list the analytics policies for an org with specific parameters\n\t\t\t\n* Requires the action  *org:ListAnalyticsPolicy* on the organization\n\t\t\t","operationId":"AnalyticsPolicyList","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"from_archive","in":"query","allowEmptyValue":true,"schema":{"type":"boolean"}},{"name":"has_tags","in":"query","schema":{"type":"array","items":{"type":"string"},"maxItems":30},"style":"form","explode":true},{"name":"name_contains","in":"query","schema":{"type":"string","maxLength":64}},{"name":"name_equals","in":"query","schema":{"type":"string","maxLength":64}},{"name":"name_or_uid_contains","in":"query","schema":{"type":"string","maxLength":64}},{"name":"name_or_uid_equals","in":"query","schema":{"type":"string","maxLength":64}},{"name":"selector_contains","in":"query","schema":{"type":"string","maxLength":64}},{"name":"selector_hash_equals","in":"query","schema":{"type":"string","maxLength":64}},{"name":"type","in":"query","schema":{"type":"string","maxLength":64}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DaoOutputAnalyticsPolicy"}}}}},"403":{"description":"permission denied"}}},"put":{"tags":["AnalyticsPolicy"],"summary":"Update an analytics policy","description":"\nThis will update a specific analytics policy for an org\n\t\t\t\n* Requires the action  *org:UpdateAnalyticsPolicy* on the organization\n\t\t\t","operationId":"AnalyticsPolicyUpdate","parameters":[{"name":"orgUID","in":"path","description":"Org UID","required":true,"schema":{"type":"string","description":"Org UID"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsPolicyUpdateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DaoOutputAnalyticsPolicy"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}},"post":{"tags":["AnalyticsPolicy"],"summary":"Create an analytics policy","description":"\nThis will put a new analytics policy for an org\n\t\t\t\n* Requires the action  *org:CreateAnalyticsPolicy* on the organization\n\t\t\t","operationId":"AnalyticsPolicyCreate","parameters":[{"name":"orgUID","in":"path","description":"The org this source is associated with","required":true,"schema":{"type":"string","description":"The org this source is associated with"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsPolicyCreateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiAnalyticsPolicyCreateHandlerOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/analyticspolicy/{analyticspolicyUID}":{"get":{"tags":["AnalyticsPolicy"],"summary":"Load an analytics policy","description":"\nThis will retrieve a specific analytics policy for an org\n\t\t\t\n* Requires the action  *org:LoadAnalyticsPolicy* on the organization\n\t\t\t","operationId":"AnalyticsPolicyLoad","parameters":[{"name":"analyticspolicyUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"archive_version","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"latest_archive_version","in":"query","allowEmptyValue":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DaoOutputAnalyticsPolicy"}}}},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"delete":{"tags":["AnalyticsPolicy"],"summary":"Delete an analytics policy","description":"\nThis will delete the specified policy from an org\n\t\t\t\n* Requires the action  *org:DeleteAnalyticsPolicy* on the organization\n\t\t\t","operationId":"AnalyticsPolicyDelete","parameters":[{"name":"analyticspolicyUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/analyticsruleset/":{"get":{"tags":["AnalyticsRuleset"],"summary":"List analytics rulesets","description":"\nThis will list the analytics rulesets for an org with specific parameters\n\t\t\t\n* Requires the action  *org:ListAnalyticsRuleset* on the organization\n\t\t\t","operationId":"AnalyticsRulesetList","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"from_archive","in":"query","allowEmptyValue":true,"schema":{"type":"boolean"}},{"name":"has_tags","in":"query","schema":{"type":"array","items":{"type":"string"},"maxItems":30},"style":"form","explode":true},{"name":"in_policy","in":"query","description":"UID of a policy with rulesets","schema":{"type":"string","description":"UID of a policy with rulesets","maxLength":64}},{"name":"name_contains","in":"query","schema":{"type":"string","maxLength":64}},{"name":"name_equals","in":"query","schema":{"type":"string","maxLength":64}},{"name":"name_or_uid_contains","in":"query","schema":{"type":"string","maxLength":64}},{"name":"type","in":"query","schema":{"type":"string","maxLength":64}},{"name":"uid_equals","in":"query","schema":{"type":"string","maxLength":64}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DaoOutputAnalyticsRuleset"}}}}},"403":{"description":"permission denied"}}},"put":{"tags":["AnalyticsRuleset"],"summary":"Update an analytics ruleset","description":"\nThis will update a specific analytics ruleset for an org\n\t\t\t\n* Requires the action  *org:UpdateAnalyticsRuleset* on the organization\n\t\t\t","operationId":"AnalyticsRulesetUpdate","parameters":[{"name":"orgUID","in":"path","description":"The org this source is associated with","required":true,"schema":{"type":"string","description":"The org this source is associated with"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRulesetUpdateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DaoOutputAnalyticsRuleset"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"},"404":{"description":"analytics ruleset not found"}}},"post":{"tags":["AnalyticsRuleset"],"summary":"Create a analytics ruleset","description":"\nThis will create a new analytics ruleset for an org\n\t\t\n* Requires the action  *org:CreateAnalyticsRuleset* on the organization\n\t\t","operationId":"AnalyticsRulesetCreate","parameters":[{"name":"orgUID","in":"path","description":"The org this source is associated with","required":true,"schema":{"type":"string","description":"The org this source is associated with"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRulesetCreateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiAnalyticsRulesetCreateHandlerOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/analyticsruleset/{analyticsrulesetUID}":{"get":{"tags":["AnalyticsRuleset"],"summary":"Load an analytics ruleset","description":"\nThis will retrieve a specific analytics ruleset for an org\n\t\t\t\n* Requires the action  *org:LoadAnalyticsRuleset* on the organization\n\t\t\t","operationId":"AnalyticsRulesetLoad","parameters":[{"name":"analyticsrulesetUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"archive_version","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"latest_archive_version","in":"query","allowEmptyValue":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DaoOutputAnalyticsRuleset"}}}},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"delete":{"tags":["AnalyticsRuleset"],"summary":"Delete an analytics ruleset","description":"\nThis will delete the specified ruleset from an org\n\t\t\t\n* Requires the action  *org:DeleteAnalyticsRuleset* on the organization\n\t\t\t","operationId":"AnalyticsRulesetDelete","parameters":[{"name":"analyticsrulesetUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/archive/":{"get":{"tags":["Archive"],"summary":"List agent archive zips","description":"\nLists the raw agent archive zip files for one or more sources within a bounded\ntime window. The window between start_time and end_time may not exceed 24 hours;\nif omitted it defaults to the last hour (end_time = now, start_time = now - 1h).\n\nResults are paginated: when the response includes a non-empty continuation_token,\npass it back (with the other parameters unchanged) to fetch the next page.\n\nEach result includes an opaque *name* that, with its source UID, can be passed to\nthe download endpoint to fetch the zip. The name carries no storage path or prefix.\n\n * Requires action source_data:Query on the organization","operationId":"ArchiveList","parameters":[{"name":"orgUID","in":"path","description":"Organization UID that owns the archives","required":true,"schema":{"type":"string","description":"Organization UID that owns the archives"}},{"name":"continuation_token","in":"query","description":"Opaque token from a prior response's continuation_token, to fetch the next page. The other parameters must be unchanged across pages.","schema":{"type":"string","description":"Opaque token from a prior response's continuation_token, to fetch the next page. The other parameters must be unchanged across pages."}},{"name":"end_time","in":"query","description":"Inclusive upper bound, in Unix seconds; must be after start_time and within 24h of it. Defaults to the current time.","schema":{"type":"integer","description":"Inclusive upper bound, in Unix seconds; must be after start_time and within 24h of it. Defaults to the current time.","format":"int64","minimum":1}},{"name":"limit","in":"query","description":"Maximum number of archives to return in one page. Defaults to 1000.","schema":{"type":"integer","description":"Maximum number of archives to return in one page. Defaults to 1000.","format":"int32","maximum":50000,"minimum":1}},{"name":"source_uid","in":"query","description":"One or more source UIDs (e.g. machine UIDs) to list archives for","required":true,"schema":{"type":"array","items":{"type":"string"},"description":"One or more source UIDs (e.g. machine UIDs) to list archives for","maxItems":100,"minItems":1},"style":"form","explode":true},{"name":"start_time","in":"query","description":"Inclusive lower bound, in Unix seconds, of the time window to list. Defaults to one hour before end_time.","schema":{"type":"integer","description":"Inclusive lower bound, in Unix seconds, of the time window to list. Defaults to one hour before end_time.","format":"int64","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionArchiveListResponse"}}}},"400":{"description":"bad request"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/archive/{sourceUID}/{name}":{"get":{"tags":["Archive"],"summary":"Download an agent archive zip","description":"\nStreams a single raw agent archive zip identified by a source UID and a *name*\nreturned from the list endpoint.\n\n * Requires action source_data:Query on the organization","operationId":"ArchiveDownload","parameters":[{"name":"name","in":"path","description":"Archive identifier returned by the list endpoint, of the form {sourceUID}-{partition}-{seq}-{start}-{end}.zip","required":true,"schema":{"type":"string","description":"Archive identifier returned by the list endpoint, of the form {sourceUID}-{partition}-{seq}-{start}-{end}.zip","maxLength":256}},{"name":"orgUID","in":"path","description":"Organization UID that owns the archive","required":true,"schema":{"type":"string","description":"Organization UID that owns the archive"}},{"name":"sourceUID","in":"path","description":"Source UID the archive belongs to","required":true,"schema":{"type":"string","description":"Source UID the archive belongs to","maxLength":64}}],"responses":{"200":{"description":"OK","content":{"application/zip":{"schema":{"type":"string","description":"The raw archive zip file","format":"binary"}}}},"400":{"description":"bad request"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/assignedrole/":{"get":{"tags":["Org"],"summary":"List assigned roles in organization","description":"\nAllows querying of roles assigned in the organization\n\n * Requires the user have the action *org:ListOrgRoles* on the organization\n","operationId":"OrgListRole","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"role_uid_equals","in":"query","schema":{"type":"string"}},{"name":"user_email_equals","in":"query","schema":{"type":"string"}},{"name":"user_uid_equals","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DaoOrgRoleResponse"}}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/assignedrole/add":{"post":{"tags":["Org"],"summary":"Assign OrgRole","description":"\nAssigns a role to a particular user on an organization\n\n * Requires the user have the action *user.AssignRole* on the organization\n","operationId":"OrgAssignRole","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgAssignRoleInput"}}}},"responses":{"200":{"description":"OK"}}}},"/api/v1/org/{orgUID}/assignedrole/del":{"post":{"tags":["Org"],"summary":"Unassign OrgRole","description":"\nUnassigns a role to a particular user on an organization\n\n * Requires the user have the action *user.UnassignRole* on the organization\n","operationId":"OrgUnassignRole","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgUnassignRoleInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases":{"get":{"tags":["Cases"],"summary":"List cases","description":"List cases for an organization. Supports filtering by state, priority, and assignee.\n\n* Requires action case:List","operationId":"CaseList","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"assignedTo","in":"query","description":"Filter by assignee","schema":{"type":"string","description":"Filter by assignee","maxLength":256}},{"name":"lastModified","in":"query","description":"Cursor: return cases modified after this Unix timestamp","schema":{"type":"integer","description":"Cursor: return cases modified after this Unix timestamp","format":"int32","nullable":true}},{"name":"pageSize","in":"query","description":"Page size (default 100, max 1000)","schema":{"type":"integer","description":"Page size (default 100, max 1000)","format":"int32","maximum":1000}},{"name":"priority","in":"query","description":"Filter by priority: Low, Normal, High","schema":{"type":"string","description":"Filter by priority: Low, Normal, High","maxLength":32}},{"name":"sortBy","in":"query","description":"Sort by: creationDate (default) or lastModified","schema":{"type":"string","description":"Sort by: creationDate (default) or lastModified","maxLength":32}},{"name":"state","in":"query","description":"Filter by state: Open, Closed, Snoozed, In Progress","schema":{"type":"string","description":"Filter by state: Open, Closed, Snoozed, In Progress","maxLength":32}},{"name":"traceId","in":"query","description":"Return cases whose rootTraceId or refIds contains this trace ID","schema":{"type":"string","description":"Return cases whose rootTraceId or refIds contains this trace ID","maxLength":256}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}},"post":{"tags":["Cases"],"summary":"Create a case","description":"Create a new case for an organization.\n\n* Requires action case:Create","operationId":"CaseCreate","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseCreateInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/bulk-merge":{"post":{"tags":["Cases"],"summary":"Bulk merge source cases into a target","description":"Merge up to 50 source cases into a single target case.\nThe target must be open; snoozed or closed targets are rejected.\nEach source is processed independently; partial failure is permitted.\n\n* Requires action case:Update","operationId":"CaseBulkMerge","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseBulkMergeInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"target case not found"},"422":{"description":"target case is snoozed or closed"}}}},"/api/v1/org/{orgUID}/cases/bulk-retry":{"post":{"tags":["Cases"],"summary":"Bulk re-enqueue errored cases","description":"Re-enqueue up to 100 errored cases to the same (pipeline, agent) pair.\nEach case is processed independently; partial failure is permitted.\nReturns a per-case result list with status 'queued', 'skipped', or 'error'.\n\n* Requires action case:Update","operationId":"CaseBulkRetry","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseBulkRetryInput"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"invalid pipeline/agent combination"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/config":{"get":{"tags":["Cases"],"summary":"Get org-level Cases configuration","description":"Returns the org-level Cases configuration (read-only).\n\n* Requires action case:List","operationId":"CaseOrgConfig","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/search":{"post":{"tags":["Cases"],"summary":"Search cases","description":"Search cases with server-side filtering, sorting, pagination, and facet counts.\n\n* Requires action case:List","operationId":"CaseSearch","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseSearchInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/stats/agent-performance":{"get":{"tags":["Cases"],"summary":"Get windowed agent-performance statistics for an organization","description":"Returns agent-performance statistics over a caller-specified time window.\nstart and end are optional Unix epoch seconds; the window defaults to a rolling 24h when omitted.\n\n* Requires action case:List","operationId":"CaseOrgStatsAgentPerformance","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}},{"name":"start","in":"query","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/stats/escalation/human":{"get":{"tags":["Cases"],"summary":"Get windowed human-escalation statistics for an organization","description":"Returns human-escalation statistics over a caller-specified time window.\nstart and end are optional Unix epoch seconds; the window defaults to a rolling 24h when omitted.\n\n* Requires action case:List","operationId":"CaseOrgStatsEscalationHuman","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}},{"name":"start","in":"query","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/stats/escalation/senior":{"get":{"tags":["Cases"],"summary":"Get windowed senior-escalation statistics for an organization","description":"Returns senior-escalation statistics over a caller-specified time window.\nstart and end are optional Unix epoch seconds; the window defaults to a rolling 24h when omitted.\n\n* Requires action case:List","operationId":"CaseOrgStatsEscalationSenior","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}},{"name":"start","in":"query","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/stats/now/attention":{"get":{"tags":["Cases"],"summary":"Get current-state attention case statistics for an organization","description":"Returns current attention/stuck statistics derived from the cases and case_status tables only.\n\n* Requires action case:List","operationId":"CaseOrgStatsNowAttention","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/stats/now/lifecycle":{"get":{"tags":["Cases"],"summary":"Get current-state lifecycle-stage case statistics for an organization","description":"Returns current lifecycle-stage statistics derived from the cases and case_status tables only.\n\n* Requires action case:List","operationId":"CaseOrgStatsNowLifecycle","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/stats/now/queues":{"get":{"tags":["Cases"],"summary":"Get current-state per-queue case statistics for an organization","description":"Returns current per-queue depth statistics derived from the cases and case_status tables only.\n\n* Requires action case:List","operationId":"CaseOrgStatsNowQueues","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/stats/processing":{"get":{"tags":["Cases"],"summary":"Get windowed processing-time case statistics for an organization","description":"Returns processing-time statistics over a caller-specified time window.\nstart and end are optional Unix epoch seconds; the window defaults to a rolling 24h when omitted.\n\n* Requires action case:List","operationId":"CaseOrgStatsProcessing","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}},{"name":"start","in":"query","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/stats/throughput":{"get":{"tags":["Cases"],"summary":"Get windowed throughput case statistics for an organization","description":"Returns throughput statistics over a caller-specified time window.\nstart and end are optional Unix epoch seconds; the window defaults to a rolling 24h when omitted.\n\n* Requires action case:List","operationId":"CaseOrgStatsThroughput","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}},{"name":"start","in":"query","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/stats/transitions":{"get":{"tags":["Cases"],"summary":"Get windowed state-transition case statistics for an organization","description":"Returns state-transition statistics over a caller-specified time window.\nstart and end are optional Unix epoch seconds; the window defaults to a rolling 24h when omitted.\n\n* Requires action case:List","operationId":"CaseOrgStatsTransitions","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window end — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}},{"name":"start","in":"query","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","schema":{"type":"integer","description":"Window start — Unix epoch seconds (optional; defaults to rolling 24h)","format":"int64","nullable":true}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cases/{caseID}":{"get":{"tags":["Cases"],"summary":"Get a case","description":"Get a specific case by ID.\n\n* Requires action case:Load","operationId":"CaseLoad","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"delete":{"tags":["Cases"],"summary":"Delete a case","description":"Delete a case.\n\n* Requires action case:Delete","operationId":"CaseDelete","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"patch":{"tags":["Cases"],"summary":"Patch a case","description":"Partial update of a case. All body fields are optional; array fields use full-replace semantics when present.\n\n* Requires action case:Update","operationId":"CasePatch","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CasePatchInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/assessment":{"post":{"tags":["Cases"],"summary":"Record an assessment on a case","description":"Record a verdict, AI rating, flag, or note on a case. At least one field must be present.\n\n* Requires action case:Update","operationId":"CaseAssessment","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseAssessmentInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/assign":{"post":{"tags":["Cases"],"summary":"Assign a case to a user","description":"Assign a case to a specific user identified by the assignedTo field.\n\n* Requires action case:Update","operationId":"CaseAssign","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseAssignInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"delete":{"tags":["Cases"],"summary":"Release a case back to the unassigned pool","description":"Release a case back to the unassigned pool.\n\n* Requires action case:Update","operationId":"CaseUnassign","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/augmented":{"post":{"tags":["Cases"],"summary":"Augment a case with additional context","description":"Inject additional context and route a case back to AI-level-2. Async — returns 202 once enqueued.\n\n* Requires action case:Update","operationId":"CaseAugment","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseAugmentInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"},"409":{"description":"case state forbids augmentation"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/claim":{"post":{"tags":["Cases"],"summary":"Claim a case from the unassigned pool","description":"Claim a case from the unassigned pool. The caller becomes the assignee.\n\n* Requires action case:Update","operationId":"CaseClaim","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/close":{"post":{"tags":["Cases"],"summary":"Close a case","description":"Close a case. All body fields are optional; when verdict is provided an assessment row is written.\n\n* Requires action case:Update","operationId":"CaseClose","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseCloseInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/helpers":{"post":{"tags":["Cases"],"summary":"Add a helper to a case","description":"Add a helper user to a case.\n\n* Requires action case:Update","operationId":"CaseAddHelper","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseAddHelperInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/helpers/{userID}":{"delete":{"tags":["Cases"],"summary":"Remove a helper from a case","description":"Remove a helper user from a case.\n\n* Requires action case:Update","operationId":"CaseRemoveHelper","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"userID","in":"path","required":true,"schema":{"type":"string","maxLength":256,"minLength":1}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/merge":{"post":{"tags":["Cases"],"summary":"Merge a case into a target","description":"Merge this case into the case identified by targetCaseId.\n\n* Requires action case:Update","operationId":"CaseMerge","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseMergeInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/notes":{"post":{"tags":["Cases"],"summary":"Add a note to a case","description":"Add a free-text note (1–10000 characters) to a case.\n\n* Requires action case:AddNote","operationId":"CaseAddNote","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseAddNoteInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/notes/{noteID}":{"patch":{"tags":["Cases"],"summary":"Edit a user-authored note","description":"Edit an existing free-text note. Full edit history is preserved.\nNo frozen-state gate — notes are allowed in any case state.\nThe caller must be the original note author.\n\n* Requires action case:AddNote","operationId":"CaseEditNote","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"noteID","in":"path","required":true,"schema":{"type":"string","maxLength":256,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseEditNoteInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied — caller is not the note author"},"404":{"description":"case or note not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/queue-position":{"get":{"tags":["Cases"],"summary":"Get a case's queue position","description":"Returns which AI queue(s) a case is in and its position from the front.\n\n* Requires action case:Load","operationId":"CaseQueuePosition","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/regen-summary":{"post":{"tags":["Cases"],"summary":"Request AI summary regeneration","description":"Enqueue an async AI summary regeneration without changing case state.\nBlocked on snoozed/closed cases. Returns 202 with a correlationId.\n\n* Requires action case:Update","operationId":"CaseRegenSummary","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseRegenSummaryInput"}}}},"responses":{"200":{"description":"OK"},"202":{"description":"regeneration enqueued — body carries a correlationId"},"403":{"description":"permission denied"},"404":{"description":"not found"},"422":{"description":"case is in a frozen state"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/reopen":{"post":{"tags":["Cases"],"summary":"Reopen a case","description":"Reopen a closed case.\n\n* Requires action case:Update","operationId":"CaseReopen","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/send-to-senior-ai":{"post":{"tags":["Cases"],"summary":"Send a case to the senior AI","description":"Re-engage the senior AI (pipeline-2). Async — returns 202 once enqueued. Returns 403 if the caller is not the assignee.\n\n* Requires action case:Update","operationId":"CaseSendToSeniorAI","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseSendToSeniorAIInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied — caller is not the assignee"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/snooze":{"post":{"tags":["Cases"],"summary":"Snooze a case","description":"Snooze a case until the supplied wake time.\n\n* Requires action case:Update","operationId":"CaseSnooze","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseSnoozeInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"delete":{"tags":["Cases"],"summary":"Wake a snoozed case","description":"Wake a snoozed case before its scheduled wake time.\n\n* Requires action case:Update","operationId":"CaseWake","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/start":{"post":{"tags":["Cases"],"summary":"Start working a case","description":"Mark a case as actively being worked.\n\n* Requires action case:Update","operationId":"CaseStart","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/stop":{"post":{"tags":["Cases"],"summary":"Stop working a case","description":"Stop actively working a case.\n\n* Requires action case:Update","operationId":"CaseStop","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/user-prioritized":{"post":{"tags":["Cases"],"summary":"Set user-prioritized flag on a case","description":"Mark a case as user-prioritized.\n\n* Requires action case:Update","operationId":"CaseSetUserPrioritized","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"delete":{"tags":["Cases"],"summary":"Clear user-prioritized flag on a case","description":"Clear the user-prioritized flag on a case.\n\n* Requires action case:Update","operationId":"CaseUnsetUserPrioritized","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cases/{caseID}/watch":{"post":{"tags":["Cases"],"summary":"Watch a case","description":"Subscribe to updates on a case.\n\n* Requires action case:Load","operationId":"CaseWatch","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"delete":{"tags":["Cases"],"summary":"Stop watching a case","description":"Unsubscribe from a case's updates.\n\n* Requires action case:Load","operationId":"CaseUnwatch","parameters":[{"name":"caseID","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/cluster/":{"get":{"tags":["Cluster"],"summary":"List clusters","description":"\nLists known clusters by by org.\n\n * Requires action org:ListClusters","operationId":"ClusterList","parameters":[{"name":"orgUID","in":"path","description":"Org UID","required":true,"schema":{"type":"string","description":"Org UID","maxLength":32}},{"name":"within_retention","in":"query","description":"Only return clusters with data within the org retention period","allowEmptyValue":true,"schema":{"type":"boolean","description":"Only return clusters with data within the org retention period"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClusterDetails"}}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/cluster/{clusterUID}":{"get":{"tags":["Cluster"],"summary":"Load cluster details","description":"\nLoads details for a cluster by org and cluster.\n * Requires action org:LoadCluster","operationId":"ClusterLoad","parameters":[{"name":"clusterUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterDetails"}}}},"403":{"description":"permission denied"},"404":{"description":"cluster not found"}}}},"/api/v1/org/{orgUID}/customflag/":{"get":{"tags":["CustomFlag"],"summary":"List custom flags","description":"\nThis will list all custom flags for an org\n* Requires the action  *org:ListCustomFlag* on the organization\n\t\t\t","operationId":"CustomFlagList","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"action_taken_equals","in":"query","description":"Filter by the action taken on the flag(s). Pulls from the history database table. One of [insert|update|delete|enable|disable]","schema":{"type":"string","description":"Filter by the action taken on the flag(s). Pulls from the history database table. One of [insert|update|delete|enable|disable]"}},{"name":"content_contains","in":"query","schema":{"type":"string"}},{"name":"flag_type_equals","in":"query","description":"Filter by the flag type","schema":{"type":"string","description":"Filter by the flag type"}},{"name":"from_history","in":"query","description":"Retrieves historical custom flags data. Pulls from the history database table","allowEmptyValue":true,"schema":{"type":"boolean","description":"Retrieves historical custom flags data. Pulls from the history database table"}},{"name":"impact_contains","in":"query","schema":{"type":"string"}},{"name":"is_enabled","in":"query","description":"Filter by the flag enabled status","allowEmptyValue":true,"schema":{"type":"boolean","description":"Filter by the flag enabled status"}},{"name":"is_not_enabled","in":"query","description":"Filter by the flag disabled status","allowEmptyValue":true,"schema":{"type":"boolean","description":"Filter by the flag disabled status"}},{"name":"latest_version","in":"query","description":"Filter by the latest version of the flag. Pulls from the history database table","allowEmptyValue":true,"schema":{"type":"boolean","description":"Filter by the latest version of the flag. Pulls from the history database table"}},{"name":"name_contains","in":"query","schema":{"type":"string"}},{"name":"name_or_uid_contains","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"query_contains","in":"query","schema":{"type":"string"}},{"name":"query_equals","in":"query","schema":{"type":"string"}},{"name":"query_uid_equals","in":"query","description":"Filter by the saved query UID","schema":{"type":"string","description":"Filter by the saved query UID"}},{"name":"reversed","in":"query","allowEmptyValue":true,"schema":{"type":"boolean"}},{"name":"schema_equals","in":"query","schema":{"type":"string"}},{"name":"severity_equals","in":"query","schema":{"type":"string"}},{"name":"sort_by","in":"query","description":"Sort the results by a field. One of [name|description|create_time|query|schema|severity|impact|last_updated|is_enabled]","schema":{"type":"string","description":"Sort the results by a field. One of [name|description|create_time|query|schema|severity|impact|last_updated|is_enabled]"}},{"name":"tags_contain","in":"query","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":true},{"name":"uid_equals","in":"query","schema":{"type":"string"}},{"name":"version","in":"query","description":"Filter by the flag version. Pulls from the history database table","schema":{"type":"integer","description":"Filter by the flag version. Pulls from the history database table","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionListCustomFlagOutput"}}}},"403":{"description":"permission denied"}}},"post":{"tags":["CustomFlag"],"summary":"Create a custom flag.","description":"\nThis will create a new custom flag for an org\n* Requires the action  *org:CreateCustomFlag* on the organization\n\t\t\t","operationId":"CustomFlagCreate","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFlagCreateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionCreateCustomFlagOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/customflag/{customFlagUID}":{"get":{"tags":["CustomFlag"],"summary":"Load a custom flag","description":"\nThis will retrieve a specific custom flag for an org\n* Requires the action  *org:LoadCustomFlag* on the organization\n\t\t\t","operationId":"CustomFlagLoad","parameters":[{"name":"customFlagUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionLoadCustomFlagOutput"}}}},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"put":{"tags":["CustomFlag"],"summary":"Update a custom flag.","description":"\nThis will update a specific custom flag for an org\n* Requires the action  *org:UpdateCustomFlag* on the organization\n\t\t\t","operationId":"CustomFlagUpdate","parameters":[{"name":"customFlagUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFlagUpdateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionUpdateCustomFlagOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"delete":{"tags":["CustomFlag"],"summary":"Delete a custom flag.","description":"\nThis will delete a specific custom flag for an org\n* Requires the action  *org:DeleteCustomFlag* on the organization\n\t\t\t","operationId":"CustomFlagDelete","parameters":[{"name":"customFlagUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/customflag/{customFlagUID}/disable":{"put":{"tags":["CustomFlag"],"summary":"Disable a custom flag.","description":"\nThis will disable a specific custom flag for an org\n* Requires the action  *org:DisableCustomFlag* on the organization\n\t\t\t","operationId":"CustomFlagDisable","parameters":[{"name":"customFlagUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/customflag/{customFlagUID}/enable":{"put":{"tags":["CustomFlag"],"summary":"Enable a custom flag.","description":"\nThis will enable a specific custom flag for an org\n* Requires the action  *org:EnableCustomFlag* on the organization\n\t\t\t","operationId":"CustomFlagEnable","parameters":[{"name":"customFlagUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/events/*iterator":{"get":{"tags":["ForwardedEvents"],"summary":"Query for forwarded events for a 3rd-party SIEM","description":"\nReturn forwarded events using the supplied iterator. OLDEST will return the oldest\nevents, LATEST will return return an iterator for the current end of the stream.\nIf no iterator is provided, OLDEST will be used.\n* Requires the action  *source_data:Query* on the organization\n\t\t\t","operationId":"ForwardEvents","parameters":[{"name":"orgUID","in":"path","description":"Organization UID","required":true,"schema":{"type":"string","description":"Organization UID"}},{"name":"limit","in":"query","description":"Requested event count. A request of 10000 lets the server deliver as many events as it wants; smaller values are honored as a strict upper bound.","schema":{"type":"integer","description":"Requested event count. A request of 10000 lets the server deliver as many events as it wants; smaller values are honored as a strict upper bound.","format":"int32","maximum":10000,"minimum":1000}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/files/watchlist":{"get":{"tags":["Watchlist"],"summary":"Query watchlist entries","description":"\nThis will query the watchlist entries for an org\n\n* Requires the action  *org:QueryWatchlist* on the organization\n\t\t\t","operationId":"WatchlistQuery","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DaoWatchlist"}}}}},"403":{"description":"permission denied"}}},"post":{"tags":["Watchlist"],"summary":"Create a watchlist entry","description":"\nThis will create a new watchlist entry for an org\n            \n* Requires the action  *org:CreateWatchlist* on the organization\n            ","operationId":"WatchlistCreate","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatchlistCreateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiWatchlistCreateHandlerOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/files/watchlist/{watchlistID}":{"get":{"tags":["Watchlist"],"summary":"Load a watchlist entry","description":"\nThis will retrieve a specific watchlist entry for an org\n            \n* Requires the action  *org:LoadWatchlist* on the organization\n            ","operationId":"WatchlistLoad","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"watchlistID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DaoWatchlist"}}}},"403":{"description":"permission denied"},"404":{"description":"not found"}}},"put":{"tags":["Watchlist"],"summary":"Update a watchlist entry","description":"\nThis will update a specific watchlist entry for an org\n            \n* Requires the action  *org:UpdateWatchlist* on the organization\n            ","operationId":"WatchlistUpdate","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"watchlistID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatchlistUpdateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DaoWatchlist"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}},"delete":{"tags":["Watchlist"],"summary":"Delete a watchlist entry","description":"\nThis will delete the specified watchlist entry from an org\n            \n* Requires the action  *org:DeleteWatchlist* on the organization\n            ","operationId":"WatchlistDelete","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"watchlistID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/fingerprint/search":{"post":{"tags":["FingerprintData"],"summary":"Start a fingerprint search job","description":"\nStart a fingerprint search job.\n\n* Requires action *source_data:Query*\n","operationId":"FingerprintDataSearch","parameters":[{"name":"orgUID","in":"path","description":"Organization UID to query","required":true,"schema":{"type":"string","description":"Organization UID to query"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FingerprintDataSearchInput"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/fingerprint/search/{jobID}":{"post":{"tags":["FingerprintData"],"summary":"Get the results of a fingerprint search job","description":"\nGet the results of a fingerprint search job.\nIf a status is returned, it means the job is still running or has failed.\nTo continue polling for results, use the same jobID in the next request.\n\n* Requires action *source_data:Query*\n","operationId":"FingerprintDataSearchJob","parameters":[{"name":"jobID","in":"path","description":"Job ID to get results for","required":true,"schema":{"type":"string","description":"Job ID to get results for","maxLength":16128}},{"name":"orgUID","in":"path","description":"Organization UID to query","required":true,"schema":{"type":"string","description":"Organization UID to query"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FingerprintDataSearchJobInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionFingerprintSearchResults"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/initialize_notifications/ref/{refUID}":{"post":{"tags":["Notifications"],"summary":"Initialize notifications for an object. Usually a saved query or custom flag.","operationId":"NotificationSettingsInitialize","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"refUID","in":"path","description":"The uid of the saved query or custom flag to initialize notifications for.","required":true,"schema":{"type":"string","description":"The uid of the saved query or custom flag to initialize notifications for."}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationSettingsInitializeInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionInitializeNotificationSettingsOutput"}}}},"400":{"description":"bad request"},"403":{"description":"permission denied"},"404":{"description":"not found"}}}},"/api/v1/org/{orgUID}/investigation/":{"get":{"tags":["Investigation"],"summary":"List investigations","description":"\nLists investigations\n\n * Will list investigations which the user has the action *investigation:Load* or *investigation:LoadExpired* on\n","operationId":"InvestigationList","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DaoInvestigation"}}}}},"400":{"description":"invalid query parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}},"post":{"tags":["Investigation"],"summary":"Create an investigation","description":"\nCreate an investigationan\n\n * Requires the user have the action *investigation:Create*\n","operationId":"InvestigationCreate","parameters":[{"name":"orgUID","in":"path","description":"Investigation OrgUID","required":true,"schema":{"type":"string","description":"Investigation OrgUID","maxLength":64,"minLength":9}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvestigationCreateInput"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiInvestigationCreateOutput"}}}},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/investigation/{investigationUID}":{"get":{"tags":["Investigation"],"summary":"Load an investigation","description":"\nLoads an investigation by UID. \n\n * Requires action  *investigation:Load* to load an active investigation\n * Requires action *investigation:LoadExpired* to load expired investigations\n\n","operationId":"InvestigationLoad","parameters":[{"name":"investigationUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DaoInvestigation"}}}},"403":{"description":"permission denied"}}},"put":{"tags":["Investigation"],"summary":"Update an investigation","description":"\nUpdates the investigationan\n\n * Requires the user have the action *investigation:Update*\n","operationId":"InvestigationUpdate","parameters":[{"name":"investigationUID","in":"path","description":"Investigation UID","required":true,"schema":{"type":"string","description":"Investigation UID"}},{"name":"orgUID","in":"path","description":"Investigation OrgUID","required":true,"schema":{"type":"string","description":"Investigation OrgUID","maxLength":64,"minLength":9}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvestigationUpdateInput"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"permission denied"}}},"delete":{"tags":["Investigation"],"summary":"Delete an investigation","description":"\nDeletes an investigation, by setting valid_to=now so that the investigation is virtually deleted.\n\n * Requires the user have the action *investigation:Delete*\n","operationId":"InvestigationDelete","parameters":[{"name":"investigationUID","in":"path","description":"Investigation UID","required":true,"schema":{"type":"string","description":"Investigation UID"}},{"name":"orgUID","in":"path","description":"Investigation OrgUID","required":true,"schema":{"type":"string","description":"Investigation OrgUID","maxLength":64,"minLength":9}}],"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/investigation/{investigationUID}/version/":{"get":{"tags":["Investigation"],"summary":"List Investigation Versions","description":"\nLists prior version of this investigation\n\n * Requires the user have the action *investigation:ListVersions*\n","operationId":"InvestigationListVersions","parameters":[{"name":"investigationUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DaoInvestigation"}}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/investigation/{investigationUID}/version/{version}":{"get":{"tags":["Investigation"],"summary":"Load Investigation Version","description":"\nLoads a specific version of an investigation\n\n * Requires the user have the action *investigation:LoadVersion*\n","operationId":"InvestigationLoadVersion","parameters":[{"name":"investigationUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DaoInvestigation"}}}},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/invite":{"post":{"tags":["Org"],"summary":"Invite users to an organization","description":"\nInvites users to an organization\n\n * Requires action *org:InviteUsers* on the organization to invite users\n\n","operationId":"OrgInviteUsers","parameters":[{"name":"orgUID","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgInviteUsersInput"}}}},"responses":{"200":{"description":"OK"},"403":{"description":"permission denied"}}}},"/api/v1/org/{orgUID}/notification_policy":{"put":{"tags":["Org"],"summary":"Update an organization's notification policy","description":"\nUpdates the organization's notification policy\n\nThe policy contains targets, which are named destinations, for example a list of admins, and then rules for how notifications\nare routed. The most basic notification is the default policy assigned to all organizations, which is to send notifications\nto the organization owner. \n\nEach notification has a schema which can be used to filter how notifications are routed. \n\nHere is an example notification policy:\n\n```\n{\n    \"targets\": {\n      \"admins\": {\n        \"emails\": [\n          \"admin1@foo.com\",\n          \"admin2@foo.com\"\n        ]\n      },\n      \"soc\": {\n        \"slack\": {\n          \"url\": \"http://app.slack.com/XXXX\"\n        }\n      }\n    },\n    \"routes\": [\n      {\n        \"target\": \"admins\",\n        \"expr\": {\n          \"schema\": \"agent_offline\"\n        }\n      },\n      {\n        \"target\": \"soc\",\n        \"expr\": {\n          \"schema\": \"spydertrace_updated\"\n        }\n      },\n      {\n        \"destination\": {\n          \"users\": [\n            \"X23hs8234lks\"\n          ]\n        }\n      }\n    ]\n  }\n```\n\nThis policy says that any notification with the schema \"agent_offline\" is send to the admin emails, and that any notifications with the schema \"spydertrace_update\" is send to the soc slack channel, and all other notifications are sent to a user specified by their UserUID. If a destination is an explicit UserUID then the users notification policy will applied, for example to notify them by their notification type of choice.  \n\n * The following destination types are currently supported, UserUID, Email, Slack, Webhook. See the associated destination definition in the notification policy for details. \n * First match for a routing rule wins, and further processsing of the notification stops. \n * If a UserUID is specified the users notification policy may be used to contact that user.\n * Each notification has an associated schema, which is used to provide a consistent schema for the notification.\n * Expressions are optional, if no expression is specified the route matches by default\n * If the content-type is application/hjson the policy will be parsed and stored as hjson, all comments will be lost on an existing hjson policy if it is uploaded as json\n\nThis is an example notification generated using a notification policy and dashboardsearch:\n\n```\n{\n\t\"uid\": \"lQ0Q1lKm\",\n\t\"org_uid\": \"your_org_uid\",\n\t\"valid_from\": \"2021-10-14T19:22:00.869159169Z\",\n\t\"title\": \"Spyderbat: Dashboard search notification Recent interactive (shell) Processes\",\n\t\"message\": \"Spyderbat: Dashboard search notification Recent interactive (shell) Processes\",\n\t\"data\": {\n\t  \"dashboardsearch\": {\n\
[...]
